html {
font-size:14pt;
  }/* CSS Document */



body {
  margin: 0; 
  font-family: 'Oswald', sans-serif;  
  width:auto;
  height:auto;
}

html body.samples { 
    background-image: url(../img/stonycreek.jpg);
    background-size: 100%;
  }

header { 
  background-color:#000000;  
  position:fixed;
  top:0; 
  right:0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);   
  color: white;
  width: 100%;
  height:auto; 
  z-index:5; 
  padding:.2vh 1vw; 
  padding-left:8vw;
  color:#ffffff;
  width:auto;
  
}
header h1 {
    font-family:"Roboto";
    font-weight:600;
    float:left;
    display:block;
    font-size:2vw;
    height:auto;
    width:98vw;
    text-align:left;
    color:#ddddff; 
    padding:.35vh 0;
    border-bottom:solid 1px #aaa;
    float:left;
    margin:.5vh auto;
    padding-left:5vw;
    line-height:5vh;
     
    

}
nav {
  margin:0;
  padding:0;
  clear:both; 
   
}
nav.primary {
  font-family: 'Oswald', sans-serif;
  font-weight:300;
  font-size:.95rem;  
  overflow:hidden;
     
}
nav.primary a {
  display: inline-block;
  text-align:center;
  color: #fff;
  width:12vw;
  float:left;
  text-decoration: none;
  background:rgba(0,0,0,0.7);
  border:1px solid rgb(0,0,0);
  padding: .5rem;
  transition: .6s background; 
  text-align:center;
  text-indent:.25em;
}
nav.primary a.active-link { 
  color: #eeff22;
 
} 
 
nav nav a {
 text-indent:1vw;
 font-size:.25vw;
 padding: .25vw;
margin-left:1vw; 
}

nav.primary a:hover{
  background:rgba(0,0,0,0.9);
  color:#99ff99;
  cursor:pointer;
}

address {
  text-align:center;
  margin:auto;
}

footer {
position:absolute;
bottom:0;
left:0;
right:0;

}
footer, footer a:link, footer a:visited, footer a {
  color:#eeeeee;
}

.container {
 position:absolute;
 top:9.45vh;
 bottom:0;
 left:0;
 right:0; 
} 
 
/*video */

.video-container {
  width:100%; 
  position:relative; 
  clear:both;
  height:75vh;
}

video { 
   position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size:cover;
}
.stopfade { 
   opacity: .5;
}

 
#welcome { 
  font-weight:400; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 1vw;
  width: 20vw;
  margin:15vh 1vw;
  float: right;
  font-size: 1.2vw;
}


#welcome button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#welcome button:hover { 
   background: rgba(0,0,0,0.5);
}


/* sample cards */
.card-container {  
  width:80vw; 
  height:auto;
  margin-top:2rem;
  margin-left:15vw;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 

.card {
  background: #fff;
  border-radius: 2px;

  display: inline-block;
  width: 22vw;
  height:34vh;
  min-width:400px;
  margin: 1vw 1vh;
  position: relative; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.42);
}
.card img {
   width: 22vw;
  height:33vh;
   min-width:400px;
   clear:both;
  
}
.card h3 {
margin-top:.5rem;
margin-left:.5rem;
color:#000066;
} 


.hamburger {
margin-top:1.5rem;
  
display:block;
text-align:center;
text-indent:2em;
 font-size:.5em;
 font-weight:800;
float:left;
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
 
}
.hamburger a {
  padding:.75em;  
   letter-spacing:.25rem;
  color: #fff;
  text-decoration: none; 
  transition: .6s background;   
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(dragonfly.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

@media print
{ 
  header {
    display:none;
    }
    .resume {
    font-size:10pt;
    
  }
    .resume .head {
    display:block;
    color:steelblue;
    text-align:center;
    margin:auto;
    }
  .resume h1 { 
    font-size: 17pt;
    margin:.5em auto;
  }
  .resume  address { 
    margin:.5em auto;
  }
   .resume h2, dt {
    font-size:10pt;
    }
    .consulting {
    page-break-after:always;
    }
    .skills .thirds > div {
     font-size:9pt;
     box-shadow:none;
     }
  .summary {  
    font-size:9pt;
        padding:1em;
        margin:.5em auto;
  }
    footer, footer a, footer a:link, footer a:visited {
    position:static;
        bottom:1px;
        display:inline-block;
        color:#000000;
        border:none;
        background-color:transparent;
  }
    .video-container, nav {
    display:none;
    }
   }


}
 
