@charset "UTF-8";
 
@media screen {


  html body { 
     background-size: 98vw;
     padding-left:2vw;
  }

  footer {
    position:relative;
    display:none;
    visibility: hidden;
  }
  }
  .rotator .players ul
  {
   list-style: none;
   width: 100%;
 }
 .rotator .periods .panel.panel-primary,
 .rotator .periods .panel.panel-primary ul,
 .rotator .periods .panel.panel-primary ul li
 {
   width: 100%;
   float: left;
   min-width: 130px;
 }

  .droptrue .ui-sortable-helper
  {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #overview  
  {
    background-color:#dfdfdf;
    border:solid 1px transparent;
    padding:1rem .5rem;
    margin-top:3.5vh;

  }
  h4 {
    padding:2px;
  }
  #team-color {
    text-transform:capitalize;
  }
  button
  {
   margin: .5em .15em;
   color:blue;
   border:1px transparent solid;
 }

 .butt-period {
  float:none;
  margin:auto;
  background-color:#eeeeee;
  color:#333333;
 }

 button:hover {
  border: 1px blue solid;
  background-color:#ffff00;
  margin: .5em .15em;
}

.panel > .panel-heading {
  height:auto;
  border:solid 1px #aaa;
  border-radius: 2px;
  text-align:right;
  position:absolute;
  top:0;
  padding:0;
  left:0;
  margin:0;
  right:0;
  background-color:#dddddd;

}
.panel-heading button {
 margin:0;
 border:solid 1px #666;

 float:right;
 padding:2px 4px;
 line-height:1vh;
 font-size:1.2vw;
 outline:none;

}



.rotator
{ 
 margin:auto;
 margin-top:1.8vh;
 height:auto;
 border:solid 1px #dedede ;
 opacity: .9;
 background-color: #fff;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.rotator li
{
 margin: 0;
}
.rotator ul
{
 padding: 0;
 min-height: 100px;

}
/* Lineup movable list */
.lineups ul
{
 padding: 0;
 background-color: light-steel-blue;
 border: solid 1px #dddddd;
}
.lineups ul li
{
 margin: 0;
 text-indent: .15em;
 text-align: left;
 background-color: #ffffff;
 clear: both;
 width: 100%;
 padding: 5px;
 border: solid 1px #eeeeee;
 opacity:.95;
 list-style:none;
}
.lineups:last-child
{
 /*  counter-reset: m--counter; */
 position: relative;
 padding-left: 2em;
}
.lineups:last-child li:before
{
/*       content: counter(m--counter);
       counter-increment: m--counter;
       */   margin-right: 2em;
       color: #aaaaaa;
       line-height: 100%;
       text-align: left;
       position: absolute;
       left: 2px;
       padding-right: 2px;
     }
     .panel-header
     {
       font-size: 1.2rem;
       line-height: 1.25rem;
       padding: .25em;
     }
     .overview-body {
      padding-top:2vh;
    }
    .instructions {
      font-size:.85em;
      color:#666666;
      font-family: Roboto;
      font-weight: 400;
      line-height:1.2em;
      display:inline-block;
      margin-bottom:2em;
      min-height:3vh;
    }
    /* provide styles for teams */
    /* generated team colors */
    .black
    {
     background-color: black;
     color:white;
   }
   .gold
   {
     background-color: gold;
   }
   .navy
   {
     background-color: lightblue;
   }
   .orange
   {
     background-color: orange;
   }
   .yellow
   {
     background-color: yellow;
   }
   .blue
   {
     background-color: steelblue;
     color: white;
   }
   .carolina {
    background-color: #99BADD;
    color:black;

  }
  .green
  {
   background-color: forestgreen;
   color: white;
 }
 .silver
 {
   background-color: #cccccc;
 }
 .purple
 {
   background-color: purple;
   color: white;
 }

 /* players  drag and list */
 .players ul
 {
   background-color: #ffffff;
   list-style: none;
 }
 .players ul li:hover
 {
   background-color: #ffff0e;
   list-style: none;
   cursor: pointer;
 }

 /* generated rotation */
 .periods  
 {
   width:auto;
   padding: 2px;
   margin: auto;
   text-align: center;
   clear: both;
 }

 .periods .panel.panel-primary
 {
   width: 12%;
   float: left;
   border:solid 2px transparent;
 }
 .periods ul
 {  
   list-style: none;
   margin: 2px;
   padding: 0;
   border:solid 1px #eeeeee;
 }
 .periods ul li
 {
   text-align: left;
   width: 100%;
   border-bottom: solid 1px #eeeeee;
   border-right:solid 1px #eeeeee;
   padding: 3px;
   line-height: auto;
   margin: 0;
   font-size: 11pt;
   white-space: noWrap;
   list-style: none;
   overflow: hidden;
 }
 .periods .panel-header
 {
   border-bottom: solid 1px #eeeeee;
   font-size: 11pt;
 }
 /* buttons */
 #generate, #reset
 {
   float: right;
   color:navy;
   margin-right:1vw;
 }
 .num
 {
   font-size: .75em;
   color: #aaaaaa;
 }
}

/* ----------- iPhone 6 + later ----------- */
/* Portrait and Landscape */
@media only screen  and (min-device-width: 337px)  and (max-device-width: 667px)   {

html {
font-size:0.80em;
}

footer {
 position:fixed;
 bottom:0;
 margin-bottom:0;
 height:10vh; 
 width:100vw;
 text-align:center;
 z-index:100;
visibility: visible;
display:block;
}
.container-fluid {
  margin-top:3vh;
}
.instructions {
  font-size:3vw;
}
#team-buttons {
width:100vw;
margin-left:-3vw;
display:flex;
justify-content:space-between;
flex-wrap: nowrap;
}

#team-buttons button {
width:auto; 
margin:1px 2px;
padding:1px 2px; 
font-size:3.5vw; 
background-color:#efefef;
text-transform:uppercase;
}

.panel, .panel-body{
  height:92vh;
  width:98vw;
  margin:0;
  border:none;
}
#rotation .panel {
  margin-left:-1vw;
  width:97vw;
} 

#rotation  {
  width:100vw;
  margin:0;
  padding:0;
}

 #rotation .panel-body li {
 font-size:8vw;
 padding:2vh 4vw;
 }

div, div>div {
  margin:.5vw;
  width:99vw;
  padding:0;
  border:none;

}
div .panel-header{
  width:auto;
  margin:0;
}
.container-fluid {
  padding:0;
  border:none;
}

{
  width:90vw;
}


.players ul {
  padding-left:2px;
  list-style:none;
  margin-left:-2vw;
}
ul .ui-sortable li,
.players ul li {
  list-style:none;
  padding:4px;
  border:solid 1px #333;
  margin: 4px 2px;
  background-color:#eeeeee;
}
.banner h1 {
  padding:0;
  margin-left:auto;
  font-size:1.2em;
}
.rotator {
  box-shadow:none;
}
.btn-group { 
  float:right;
  text-align:right;
}
button {
  border:solid 1px #0000ff;
}

} 

/*Print styles */

@media print {

  .rotator {
   padding:2pt;
   width:100%;
 }

 h1
 {
   font-size: 1em;
 }
 .lineups {
   padding-left:0;
   width: 98%; 
   margin-bottom:.5em;
   display:block;
 }
 .lineups li
 {
   width:auto;
   clear:both;
   float: left;   
   margin-left: 1px;
   font-size: 11pt;
   text-align:left;
   display:block;
   padding: 2px;
   overflow:hidden;
 }

 .periods {
   display:block;
   width:auto;
   overflow:visible;
   height:auto;
   float:left ; 
   width:1000px;
   border:none;
 }
 .periods .panel.panel-primary
 {
   width: 12%;
   float: left;
   border:none;
   margin-left:2px;
   border:solid 2px transparent;
 }
 .periods ul
 {
   list-style: none;
   margin: 0;
   padding: 0;
   margin-right:3px;
   border:none;
 }
 .periods li {
   display:inline-block;
   float:left;
   clear:both;
   white-space:nowrap;
   list-style:none;  
   padding:.15em;
   width:98%;
   border-bottom:solid thin #eeeeee;
   overflow: hidden;
   text-align: left;
   font-size: 9pt;
 }

 button,
 .btn,
 .btn-group
 {
   display: none;
   padding:4px;
 }
 .btn-group
 {
   margin-right:4vw;
 }
 .num {
  color:#aaaaaa;  
  padding-right:2px;
  float:left;
  margin-left:-2px;
  display:block;
  margin-right:3px;
  font-size:.7em;
}



.sortable2 {
  width:auto;
}
.sortable2 li {
  width:auto;
  float:left;
  margin-left:1em;
  list-style:none;
}
.sortable2 li:after {
  content:',';
}

.periods .panel-header
{ 
 margin-left:3px;
 border-bottom: solid 1px #eeeeee;
 font-size: 3vw;
 width:auto;
 text-align:left;
}
h4, .instructions, section {
  display:none;
}
}
