@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Lato|Muli|Dorsa");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Lato|Muli|Dorsa");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Lato|Muli|Dorsa");
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

.card {
  flex: 0 0 100vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  color: #594781;
}
.card:nth-child(1) {
  z-index: 4;
}
.card:nth-child(2) {
  z-index: 3;
}
.card:nth-child(3) {
  z-index: 2;
}
.card:nth-child(4) {
  z-index: 1;
}

@media (max-width: 780px) {
  .card {
    width: 100%;
    /* transitions worked best on mobile */
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1.5s ease;
    opacity: 0.2;
  }
  .card:first-child {
    opacity: 1;
  }
  .card .quote {
    font-family: "Lato", sans-serif;
    padding: 10px 15vw;
    color: #594781;
    text-align: center;
  }
  .card img {
    width: 136px;
    height: 136px;
    align-self: center;
  }
  .card .attribution {
    font-family: "Muli", sans-serif;
    font-size: 1.1em;
    align-self: center;
    text-align: center;
    padding: 20px;
    color: #594781;
  }
}
@media (min-width: 780px) {
  .card {
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex: 0 0 50%;
    opacity: 1;
  }

  .quote {
    font-family: "Lato", sans-serif;
    padding: 2px;
    margin-top: 1.5em;
    color: #594781;
    text-align: left;
    width: 60%;
    display: inline-text;
    height: auto;
  }

  img {
    width: 20%;
    flex-basis: 20%;
    margin-bottom: 10%;
    margin-left: 4vw;
    margin-top: 2em;
    margin-right: 0;
  }

  .attribution {
    min-height: 2em;
    margin-top: 2em;
    font-family: "Muli", sans-serif;
    font-size: 1em;
    text-align: left;
    color: #594781;
  }
}
.spinner {
  position: absolute;
  top: 80px;
  display: flex;
  flex: 100%;
  align-self: top;
  padding: 0;
  margin: 0;
  width: auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  left: 0;
}

.controls {
  position: absolute;
  top: 180px;
  right: 2px;
  left: 5px;
  margin-top: 5px;
  flex: 1;
  height: 80px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  z-index: 1000;
  overflow: visible;
}
.controls button {
  border: none;
  outline: none;
  background: transparent;
  color: #cccccc;
  padding: 0px 3px;
  font-size: 2em;
  font-weight: bold;
  line-height: 18px;
  font-weight: 200;
  cursor: pointer;
  width: auto;
  height: auto;
  transform: scaleX(0.6);
  transform: scaleY(3.2);
}
.controls button span {
  font-size: 4em;
  font-family: "Dorsa", sans-serif;
}
.controls button span:hover {
  color: #a9d234;
}

@media (min-width: 780px) {
  .spinner {
    flex-basis: 780px;
  }
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.container {
  overflow: hidden;
  width: 100vw;
  height: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

header {
  height: 100px;
  display: inline;
}

h3 {
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  width: 100vw;
  margin: 0;
  text-align: center;
  color: #594781;
}

.subhead {
  font-family: "Muli", sans-serif;
  text-align: center;
  width: 100%;
  margin: auto;
  height: auto;
  text-align: center;
  color: #594781;
}

@media (max-width: 780px) {
  .subhead {
    display: none;
  }
}
@media (min-width: 780px) {
  .container {
    width: 100vw;
    max-width: 1600px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
