//Google fonts
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Lato|Muli');

$primary-color: #333;
$green: #a9d234;
$purple :#594781;
$gray : #bbbbbb;
$headline-font: 'Amatic SC', cursive;
$quote-font: 'Lato', sans-serif;
$attribution: 'Muli', sans-serif;

