    html {
      box-sizing: border-box;
      background:rgba(75, 5, 11, 0.959);
      font-family:'Tahoma';
      color:#666666;
      font-size: 2.5vh;
      font-weight: 200;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    input {
      width: 100%;
      padding:2vw;
    }

    .search-form {
      max-width:90vw;
      min-width:320px;
      margin:2vh auto;
    }

    input.search {
      margin: 0;
      text-align: center;
      outline:0;
      border: 1px solid #336699;
      width: 80%;
     
      position: relative;
      top: 20px;
     
      font-size: 2vw;
        }


    .suggestions {
      margin:0;
      padding: 0;
      position: relative;
    }
    .suggestions li {
      background:white;
      list-style: none;
      border-bottom: 1px solid #D8D8D8;
      margin:0;
      padding:1vw; 
      display:flex;
      justify-content:space-between;
      text-transform: capitalize;
    }

    .suggestions li:nth-child(even) {
       
      background:  #99aaff;
    }
    .suggestions li:nth-child(odd) {
       
      background: #ffffff;
    }

    span.population {
       
    }

    .high-light {
      background:#fbff00;
    }