html, body {
    font-family:'Roboto', sans-serif;
    height:100%; 
    /* padding-top:78px; */
}

h1,h2,h3,h4 {
    color:#336699;
}
.navbar {
    margin-bottom:0px;
    padding:30px 15px;
    transition:all 0.5s;
    font-size:1.2em;
    padding-top:3vh;
}
.navbar-inverse {
    opacity:85;
    background-color:#336644;
}


footer {
    background-color:#336644;
    text-align:center;
    color:#efefef;
    line-height:2vh;
    padding:1.5vh;
    postion:absolute;
    bottom:0;
    left:0;
    width:100%;
    z-index:2;

}
.navbar-inverse .navbar-nav {
    margin:2vh auto;
}
.navbar-inverse .navbar-nav>li>a {
    color:#eee;
    line-height:2vh;
}
.navbar img {
    top:0px;
     bottom:0;
     margin:auto;
    float:left;
    width:90%;
    height:auto;
}
.navbar-inverse .navbar-nav>li.active > a:link,
.navbar-inverse .navbar-nav>li.active > a:visited,
.navbar-inverse .navbar-nav>li.active > a:focus,
.navbar-inverse .navbar-nav>li.active > a:hover {

    background-color:transparent;
    color:#ffff00;
}
.title-row {

    position:relative;
    min-height:300px;
}

.title-image {

    position:absolute;
    padding:20px;
    top:55vh;
    left:50vw;
    width:25vw;
    height:auto;
    margin-right:-50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}

i {

    background:none;

}

.down-button {

    position:absolute;
    bottom:20px;
    width:100%;
    text-align:center;
}

.down-button a {

    color:#fff;
}

#video-wallpaper {

    display:block;
    position:relative;
    width:auto;
    height:auto;
    padding:100px 0;
    min-height:100%;
    background:no-repeat center center;
    background-attachment:scroll;
    background-color:#222;
    background-size:cover;
}

.activity-element card > div  {
    height:165px;
    overflow:hidden;
}
.activity-element card > div img {
height:auto;
width:auto;
}
.cbp-af-header-shrink {

    padding-top:2px;
    padding-bottom:2px;
    opacity:.9;
}
.fill-screen {

    background-size:cover;
    background-position:center;
    height:100vh;

}
.footer {

    color:#ffffff;
    background-color:#aaaaaa;

} 
aside {

    background-color:#f7f7f7;
    text-align:center;
    padding-top:40px;

}
.range-list {

    padding-bottom:40px;
    padding-top:40px;

}
.range-list h4 {

    margin-bottom:40px;
    color:darkorange;
    font-weight:600;

}
.range-list img {

    width:100%;
    height:100%;
    max-width:140px;
    max-height:60px;

}
.range-title {

    color:darkblue;

}

.sports-icon-list {

    background-color:#333;
    padding-bottom:40px;

}
.sports-icon-list a {

    color:white;

}
.sports-icon-list a h6 {

    margin-top: 2px;
    margin-bottom:14px;

}
.sports-icon-list img {

    width:70px;
    height:70px;

}
.sports-list-top div {

    margin-left:auto;
    margin-right:auto;
    text-align:center;

}
.sports-list-top a {

    margin-left:30px;
    margin-right:30px;
    display:inline-block;

}
article {

    padding:40px;
    text-align:center;

}
section {

    min-height:350px;
    text-align:center;
}
.text-banner {

    text-align:center;
    margin:40px 20px;
}
.text-banner h1 {
    font-weight:900;
    font-size:4em;
    color:#336699;
    padding-bottom:.5em;
}
.text-banner p {

    font-size:18px;
}
#activities {

    padding-top:50px;
}
.activity-section {

    margin:50px;
}
.activity-element {

    text-align:center;
}
.activity-element img {

    width:75px;
    height:75px; 

}
.fixed-attachment {

    background-attachment:fixed;

}
.contact-us {

    margin:50px;
    text-align:center

}

.img-responsive {

    margin:0 auto;
    border:solid darkblue;
    box-shadow:rgba(0,0,0,0.5) 10px 10px 60px;

}

article p {

    font-size:16px;
}

section p {

    font-size:16px;
    text-align:justify;
    
}

#wwmap {

    border:solid 1px #0000ff; 
    width:480px; 
    height:320px;
    text-align:center;
}

@media (max-width:400px) {

    .navbar header {
        
        position:relative;

    } 
    .fixed-attachment {

    background-position:-50%;
    }
    .navbar img {

     position:absolute;
     top:0px;
     bottom:0;
     margin:auto;
     margin-top:18px;
     width:80%;

    }
    .text-banner h1 {
        font-size:1.8em;
        font-weight:700;
    }

    #wwmap {
 
    width:100%; 
    height:100%;
 
    }
}
@media (max-width:767px) {

    .range-list a {
        display:block;
    }

    .range-list h4 {
        color:#336699;
         font-weight:700;
        display:inline;
        font-size:1.75em;
    }
    .range-list img {

        width:50%;
        height:50%;
        margin-top:20px ;
        margin-right:10px;
        margin-bottom:30px;
    }

    .navbar img {
         
        width:50%;
        clear:both;
    }
 
    h1 {
        padding-left:4px;
    }

    .title-image {
   
    top:45vh;
    left:50vw;
    width:90vw;
    height:auto;
    margin-right:-50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}
    
}

@media (min-width:768px) {

    .navbar-inverse li a {
        padding:15px 1vw;
    }

    .navbar img {
     width:40vw;
     position:absolute;
     margin-top:0px;
     margin-left:-25px;
}

    .container-sm-height {

        display :table;
        padding-left:0;
        padding-right:0;
    }
    .row-sm-height{
        display:table-row;
    }

    .col-sm-height {

        display:table-cell;
        float:none;
    }

    

 
     

}

@media (min-width:992px) {

    .container-md-height {

        display:table;
        padding-left:0;
        padding-right:0;

    }
    .row-md-height {

        display:table-row;

    }
    @media(max-width:1024px) {
    
    .title-image {
    top:55vh;
    left:50vw;
    width:75vw;
    height:auto;
    margin-right:-80vw;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}
    .fixed-attachment {
         background-attachment:fixed;
         margin-right:-50%;
    }

 #wwmap {
 
    width:500px; 
    height:300px;
     
   
}
}
