// _card.scss
@import 'variables';

$mobile-card-width : 100%; 
$desktop-card-width : 50%;


.card {
    flex: 0 0 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    color:$purple;
    $numBoxes: 4;
    @for $i from 1 through $numBoxes {
        &:nth-child(#{$i}) {
        z-index: $numBoxes - $i + 1;
        }
    }
}
@media (max-width: 780px) {

.card {
    -webkit-transition: all 1.5s ease;  
    -moz-transition: all 1.5s ease;  
    -o-transition: all 1.5s ease;  
    -ms-transition: all 1.5s ease;  
    transition: all 1.5s ease;
    opacity:.2;
    width: $mobile-card-width;
    &:first-child{
        opacity:1;
    }
      
    .quote {
    font-family: $quote-font;
    padding:10px 15vw; 
    color:$purple; 
    text-align:center;  
    }
    img {
    width:136px;
    height:136px;
    align-self:center;
    }
    .attribution {
    font-family: $attribution;
    font-size:1.1em;
    align-self:center;
    text-align: center;
    padding:20px;
    color:$purple;
    }
}
}
 
 @media (min-width: 780px) {

    .card {
        float:left; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
        width: $desktop-card-width;
        display: flex;
        align-items:flex-start; 
        $numBoxes: 4;
        flex: 0 0 $desktop-card-width;
        opacity:1;
        
         
    }


    .quote {
    font-family: $quote-font;
    padding:2px; 
    margin-top:1.5em;
    color:$purple; 
    text-align:left;
    width:60%; 
    display:inline-text;
    height:auto;
}
    img {
    width:20%;
    height:auto;
    flex-basis: 20%;
    margin-bottom:10%;
    margin-left:4vw;
    margin-top:2em;
    margin-right:0;
    }
    .attribution {
    min-height:2em;
    margin-top:2em;
    font-family: $attribution;
    font-size:1em;     
    text-align: left;
    color:$purple;
    
    }
}
 