@import 'variables';
 
  .spinner {
    position:absolute;
    top:80px;
    display: flex;
    flex: 100%;
    align-self:top;
    padding: 0;
    margin: 0;
    width:auto;
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
    left:0;
  }

   
  .controls {
    position:absolute;
    top:180px;
    right:2px;
    left:5px;
    
    margin-top: 5px;
    flex: 1;
    height:80px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    z-index: 1000;
    overflow:visible;
    
    button {
      border: none; 
      outline:none;
      background: transparent;
      color:#cccccc;
      padding: 0px 3px;
      font-size: 2em;
      font-weight: bold;
      line-height: 18px;
     font-weight:200;
     cursor:pointer;
     width:auto;
     height:auto;
     transform:scaleX(.6);
     transform:scaleY(3.2);
     
     & span {
        font-size:4em;
        font-family:$buttons;
         

       &:hover {
        color:$green;
       }
     }
    }
}
  
  @media (min-width: 780px) {
 .spinner {
    flex-basis:780px;
 }
  }
  